<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <!-- Rule for Backend API requests -->
        <rule name="Backend API Proxy" stopProcessing="true">
          <match url="^api(/.*|$)" />
          <action type="Rewrite" url="http://127.0.0.1:8000/api{R:1}" appendQueryString="false" />
        </rule>
        
        <!-- Rule for Next.js app -->
        <rule name="Next.js App" stopProcessing="true">
          <match url="(.*)" />
          <action type="Rewrite" url="http://127.0.0.1:7777/{R:1}" appendQueryString="false" />
        </rule>
      </rules>
    </rewrite>
    <httpErrors existingResponse="PassThrough" errorMode="Detailed" />
    <security>
      <requestFiltering removeServerHeader="true" />
    </security>
  </system.webServer>
</configuration>
