<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <clear />
        <!-- Rule for Backend API requests -->
        <rule name="Backend API Proxy" stopProcessing="true">
          <match url="^api(.*)$" />
          <action type="Rewrite" url="http://127.0.0.1:8000/api{R:1}" />
        </rule>
        
        <!-- Rule for Next.js app - handle all non-API requests -->
        <rule name="Next.js App" stopProcessing="true">
          <match url="(.*)" />
          <action type="Rewrite" url="http://127.0.0.1:7777/{R:1}" />
        </rule>
      </rules>
      <outboundRules>
        <rule name="ReverseProxyOutboundRule1" preCondition="ResponseIsHtml1">
          <match filterByTags="A, Form, Img" pattern="http(s)?://127.0.0.1:7777/(.*)" />
          <action type="Rewrite" value="http{R:1}://haiper.test.postbank.bg/{R:2}" />
        </rule>
        <preConditions>
          <preCondition name="ResponseIsHtml1">
            <add input="{RESPONSE_CONTENT_TYPE}" pattern="^text/html" />
          </preCondition>
        </preConditions>
      </outboundRules>
    </rewrite>
    <httpErrors existingResponse="PassThrough" />
    <security>
      <requestFiltering allowDoubleEscaping="true" />
    </security>
  </system.webServer>
</configuration>